@charset "utf-8";
/* CSS Document */
html body {
	background-color: black;
	margin:  0;
}
.profile-card * {
	font-family: "Fire Sans Condensed", sans-serif;
	font-weight: 300;
}
h2 {
	font-weight: 900;
	font-style: italic;
	font-family: "Fire Sans Condensed", sans-serif;
}
a {text-decoration: none; }
a:visited {color: blueviolet;}
a:hover {text-decoration: underline;}
.profile-card {
	display: flex;border-radius: 100px;
	height: 200px; width: 200px;
	background: rgb(0, 159, 255);
	background: linear-gradient(121deg,rgba(255, 255, 255, 0) 13%, rgba(0, 159, 255, 1) 100%);
	transition: all 500ms ease-in;
	transition-delay: 1s;
	margin: auto; margin-top: 100px;
}
.profile-card:hover {
	width: 600px;
	border-radius: 100px 10px 100px 100px;
	transition: all 1s ease-out;
}

.profile-card div {
	color: white;
	flex-shrink: 1;width: 100%;
}
.profile-card div *{
	display: flex; overflow: hidden;
	text-overflow: hidden; color:#000000;
	white-space: nowrap;
	width: 0;height: auto;
	transition: all 450ms ease-in;
	transition-delay: 1s;
	padding-top: 1px;padding-left: 1px;
	font-weight: bold;
	
}
.profile-card:hover div * {
	display: flex;
	visibility: visible;
	transition: all 1s ease-out;
    transition-delay: 500ms;
	width: 100%;height: auto;
}
.profile-card #main,
.profile-card #main img {
	height: 200px;width: 200px;
	padding-right: 10px;
	border-radius: 100%;
	flex-shrink: 0; object-fit: cover;
	}
.profile-card #main img {
	height: 180px;width: 200px;
	transition: none; display: float;
	position: relative;
	border: 3px solid #FFFFFF ;
	margin: 0;
	padding: 0;
}
.profile-card #profile-text{
	position: relative;
}
.profile-card #profile-text #social{
	max-width: 60%;max-height: 30%;
	position: absolute;
	bottom: 5px;display: flex;
	justify-content: space-between;
	border-radius: 13px;
}
.profile-card #profile-text #social * {
	background-color: white;
	max-width: 30px;border-radius: 25px;
	}


